<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <variable name="PlatformName" value="EPM mF4 Trader" />
  <variable name="LogFolderPath" value="${specialfolder:folder=ApplicationData}/${PlatformName}/Log"/>
  <variable name="fullException" value="${exception:format=Type, Message, StackTrace:maxInnerExceptionLevel=10}" />
  <variable name="machineInfo"
            value="Assembly: ${assembly-version} ${newline}Base dir: ${basedir} 
            ${newline}Machine name: ${machinename} ${newline}User: ${windows-identity} 
            ${newline}Process Name: ${processname} ${newline}Process Info: ${processinfo}${newline}Process Time: ${processtime}" />

<!--  fileName_BAK="${PlatformName}_${shortdate}.log"-->
  <targets>
    <target name="main_file"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} - ${level:uppercase=true} : ${message}. ${onexception:${NewLine}${exception:format=type,message}${exception:format=stacktrace}${NewLine}}"
            fileName="${LogFolderPath}/${PlatformName}.log"
            keepFileOpen="false"
            archiveFileName="${LogFolderPath}/${PlatformName}_${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="fxserver_file"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} - ${level:uppercase=true} : ${message}. ${onexception:${NewLine}${exception:format=type,message}${exception:format=stacktrace}${NewLine}}"
            fileName="${LogFolderPath}/${PlatformName}_FxServer.log"
            keepFileOpen="false"
            archiveFileName="${LogFolderPath}/${PlatformName}_FxServer_${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="PriceLog"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} - ${level:uppercase=true} : ${message}. ${onexception:${NewLine}${exception:format=type,message}${exception:format=stacktrace}${NewLine}}"
            fileName="${LogFolderPath}/${PlatformName}_Price.log"
            keepFileOpen="false"
            archiveFileName="${LogFolderPath}/${PlatformName}_Price_${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="ChartLog"
            xsi:type="File"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} - ${level:uppercase=true} : ${message}. ${onexception:${NewLine}${exception:format=type,message}${exception:format=stacktrace}${NewLine}}"
            fileName="${LogFolderPath}/${PlatformName}_Chart.log"
            keepFileOpen="false"
            archiveFileName="${LogFolderPath}/${PlatformName}_Chart_${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="mqlOutputFile"
            xsi:type="File"
            layout="[${time}] : ${message}${NewLine}"
            fileName="${specialfolder:folder=ApplicationData}/${PlatformName}/Output/${shortdate}.log"
            keepFileOpen="false"
            archiveFileName="${specialfolder:folder=ApplicationData}/${PlatformName}/${shortdate}Archive.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="70" />

    <target name="methodLogger" xsi:type="MethodCall" className="M4.ViewModels.LogReceiver, M4.ViewModels"
            methodName="ProcessLogMessage">
      <parameter layout="${date}" />
      <parameter layout="${level:uppercase=true}" />
      <parameter layout="${message}" />
      <parameter layout="${exception:format=type,message}" />
    </target>

    <target name="debugger" xsi:type="Debugger" layout=">>> ${message} Ex: ${exception:format=type,message}" />

  </targets>

  <rules>
    <logger name="PriceLog" minlevel="Info" writeTo="PriceLog"  final="true" />
    <logger name="PriceLog" minlevel="Trace" final="true" />
    <logger name="FxServerAdapter.*" minlevel="Info" writeTo="fxserver_file" final="true" />
    <logger name="FxServerAdapter.*" minlevel="Trace" final="true" />
    <logger name="FxServerClient.*" minlevel="Info" writeTo="fxserver_file" final="true" />
    <logger name="FxServerClient.*" minlevel="Trace" final="true" />
    <logger name="ChartLog" minlevel="Info" writeTo="ChartLog" final="true" />
    <logger name="ChartLog" minlevel="Trace" final="true" />
    <logger name="JournalLog" minlevel="Info" writeTo="methodLogger" />
    <logger name="*" minlevel="Info" writeTo="main_file" />
    <logger name="M4.Core.OutputManager" level="Info" writeTo="mqlOutputFile" />
  </rules>
</nlog>
