<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
  <package id="SMBLibrary" version="1.5.0" targetFramework="net47" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net47" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net47" />
  <package id="System.Diagnostics.EventLog" version="6.0.0" targetFramework="net47" />
  <package id="System.Diagnostics.PerformanceCounter" version="6.0.0" targetFramework="net47" />
  <package id="System.Management" version="6.0.0" targetFramework="net47" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net47" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net47" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net47" />
  <package id="T4AlgLib" version="4.7.71.21" targetFramework="net47" />
  <package id="T4API" version="2.0.3" targetFramework="net47" />
  <package id="T4Connections" version="4.7.71.21" targetFramework="net47" />
  <package id="T4Data" version="2.0.2" targetFramework="net47" />
  <package id="T4Definitions" version="4.7.71.21" targetFramework="net47" />
  <package id="T4Grid" version="2.0.3" targetFramework="net47" />
  <package id="T4Messages" version="4.7.71.21" targetFramework="net47" />
  <package id="T4OSUtil" version="2.0.2" targetFramework="net47" />
  <package id="T4TraceListener" version="4.7.71.21" targetFramework="net47" />
</packages>