<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="ColoredConsole"
      layout= "$[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${uppercase:${level}}] [${logger}] [${callsite}]: ${message}"/>
    <target name="file" xsi:type="File"
            fileName="${basedir}/Logs/${date:format=yyyyMM}/${shortdate}.log"
 layout="[${date:format=yyyy-MM-dd HH\:mm\:ss fff}] [${uppercase:${level}}]: ${message}"
     keepFileOpen="false"
     encoding="utf-8" />
    <target name="info" xsi:type="File"
            fileName="${basedir}/Info/${date:format=yyyyMM}/${shortdate}.log"
 layout="[${date:format=yyyy-MM-dd HH\:mm\:ss fff}] [${uppercase:${level}}]: ${message}"
     keepFileOpen="false"
     encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console"/>
    <logger name="*" levels="Debug" writeTo="file" />
	<logger name="*" levels="Error" writeTo="file" />
    <logger name="*" levels="Info" writeTo="info" />
  </rules>
</nlog>
